body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Teko', sans-serif;
}


marquee{
    font-size: 25px;
    background-color: lightslategray;
    color:white;
}


.social{
    top: 50%;
    left: 97%;
    height: 130px;
    width: auto;
    display: grid;
    position: fixed;
    background-color: lightslategray;
    z-index: 1;
}
.fb-back-div{
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.fb-back-div:hover{
    transition: width 3s;
}
.fa-facebook{
    padding: 15px;
    font-size: 25px;
    color: blue;
}
.yt-back-div{
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.yt-back-div:hover{
    transition: width 3s;
}
.fa-youtube{
    padding: 15px;
    font-size: 25px;
    color: red;
}
.ig-back-div{
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ig-back-div:hover{
    transition: width 3s;
}
.fa-instagram{
    padding: 15px;
    font-size: 25px;
    color: rgb(223, 74, 37);
}


.header {
    top: 35px;
    left: 0px;
    padding: 0 100px;
    width: 100%;
    background:lightblue;
    box-sizing: border-box;
    position: absolute;
}
.logo{
    height: 50px;
    line-height: 50px;
    float: left;
}
.header nav {
    float: right;
}
.header nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}
.header nav ul li {
    list-style: none;
}
.header nav ul li a {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: blue;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.header nav ul li a:hover {
    color:green;
}
.menu-toggle {
    color: #fff;
    float: left;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media (max-width:991px) {
    .header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    .header nav {
        top: 50px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: rgba(red, green, blue, alpha);
        transition: 0.5s;
        position: absolute;
    }
    .header nav.active {
        left: 0%;
    }
    .header nav ul{
        display: block;
    }
    .header nav ul li {
        display: block;
        text-align: center;
    }
    .header nav ul li a {
        border-bottom: 2px solid black;
    }
}


.video-bg{
    top:90px;
    left: 0px;
    margin-bottom: 100px;
    width: 100%;
    position: relative;
}
@media (max-width:991px) {

.video-bg{
    display: none;
}
}


.apply-buton-div{
    margin-top: 90px;
    width: 100%;
}
.explore{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: maroon;
}
.explore-link{
    font-size: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.explore-link:hover{
    text-decoration: none;
    color: white;
}
@media (max-width:991px) {
    .apply-buton-div{
        margin-top: 450px;
    }
    .explore{
        padding: 0px;
        width: 100%;
        display: block;
    }
}


.carousel-item{
    height: 400px;
    text-align: center;
    background-color: white;
    border: 7px solid lightblue;
}
@media (max-width:991px) {
    .carousel-item{
        height: 200px;
    }
    
}
.carousel {
    margin-top: 80px;
    background-color: rgb(74, 74, 245);
}  
.carousel-cell {
    padding: 35px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
.carousel-cell:before {
    display: none;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 250px;
    font-size: 30px;
    color: #fff;
}
.fa-envelope{
    font-size: 30px;
    color: black;
}
.fa-file{
    font-size: 30px;
    color: black; 
}
.fa-commenting{
    font-size: 30px;
    color: black;  
}
.fa-fax{
    font-size: 30px;
    color: black;  
}
.fa-calculator{
    font-size: 30px;
    color:black;
}



.student-relate{
    margin-top: 100px;
    width: 100%;
    display: flex;
    background-color: lightblue;
}
 .schoolorships{
    height: 400px;
    width: 50%;
    border-right: 2px solid black;
}
 #complaints{
    height: 400px;
    width: 50%;
    position: relative;
}
#complaints #complain{
    padding: 10px;
    margin: 10px auto;
    height: 90px;
    width: 200px;
    text-align: center;
    background-color: rgb(226, 226, 13);
    border: none;
}
@media (max-width:991px) {
    .student-relate{
     display: block;
    }
    .schoolorships{
        height: 300px;
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
    }
    #complaints #complain{
    padding: 10px;
    margin: 10px auto;
    height: 90px;
    width: 200px;
    text-align: center;
    background-color: rgb(226, 226, 13);
    border: none;
}
}


.campus-facility{
    margin-top: 30px;
    padding: 50px;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    display: flex;
}
.energy-campus{
    height: 300px;
    width: 33%;
    text-align: center;
    border-right: 2px solid orangered;
}
.facilities{
    height: 300px;
    width: 33%;
    text-align: center;
    border-right: 2px solid orangered;
}
.qualified-department{
    height: 300px;
    width: 33%;
    text-align: center;
}
.fa-university{
    padding: 20px;
    font-size: 80px;
    color: orangered;
}
.fa-globe{
    padding: 20px;
    font-size: 80px;
    color: orangered; 
}
.fa-graduation-cap{
    padding: 20px;
    font-size: 80px;
    color: orangered;
}
@media (max-width:991px) {
    .campus-facility{
        display: block;
       
    }
    .energy-campus{
        height: 200px;
        width: 100%;
        border: none;
        border-bottom: 2px solid orangered;
    }
    .facilities{
        height: 200px;
        width: 100%;
        border: none;
        border-bottom: 2px solid orangered;
    }
    .qualified-department{
        height: 200px;
        width: 100%;
    }
}


.photo-grid{
    column-count: 5;
    column-width: 200px;
    column-gap: 10px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}
.photo-items{
    margin: 0 auto 5px;
    width: 100%;
    filter: grayscale(100%);

}
.photo-items:hover{
    transform: scale(1.1);
    filter: grayscale(0%);

}
.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 100px; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.9); 
}
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}


.footer-section{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(14, 134, 240);
    display: flex;
}
@media (max-width:991px) {
    .footer-section{
        display: block;
    }
    .footer-column-1{
        width: 300px;
        border-bottom: 1px solid black;
    }  
    .footer-column-2{
        width: 300px;
        border-bottom: 1px solid black;
    }  
    .footer-column-3{
        width: 300px;
        border-bottom: 1px solid black;
    }  
    .footer-column-4{
        width: 300px;
        border-bottom: 1px solid black;
    }  
    .footer-column-5{
        width: 300px;
        border-bottom: 1px solid black;
    }  
}

.footer-column-1{
    padding: 15px;
    height: 300px;
    width: 200px;
    text-align: start;
}
.footer-column-2{
    padding: 15px;
    height: 300px;
    width: 200px;
    text-align: start;
}
.footer-column-3{
    padding: 15px;
    height: 300px;
    width: 200px;
    text-align: start;
}
.footer-column-4{
    padding: 15px;
    height: 300px;
    width: 200px;
    text-align: start;
}
.footer-links{
    padding-top: 15px;
    font-size: 16px;
    text-decoration: none;
    text-align: start;
    color: black;
    display: block;
}
.footer-links:hover{
    color: orangered;
    text-decoration: none;
}
.footer-column-5{
    height: 300px;
    width: 320px;
    text-align: start;
}
label{
    margin-top: 80px;
    height: 100px;
    width: 300px;
    position: relative;
}
input[type=email]{
    height: 50px;
    width: 200px;
    background-color: #2e2b2b;
    color: aliceblue;
    border: none;
}
.subscribe-btn{
    top:0px;
    left: 200px;
    bottom: 0px;
    height: 50px;
    width: 100px;
    background-color: black;
    color: aqua;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    position: absolute;
}


.End-love{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background-color: #2e2b2b;
    color: aliceblue;
}
.fa-heart{
    color: red;
}
